<div class="title">
  {{productss}}

  <mat-progress-bar style="margin-top: 5%;" *ngIf="load" mode="indeterminate"></mat-progress-bar>
</div>

<div class="row" *ngIf="!load">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-2">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-10 col-md-10">
            <div class="numbers">
              <p class="card-category">Carros</p>
            </div>
            <p>{{15000 | currency}}<p>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div routerLink="/buy" class="stats btn btn-primary">
          <i class="fa fa-money"  aria-hidden="true"></i>Comprar
        </div>
      </div>
    </div>
  </div>

</div>
