
<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/company/fondoVenta.jpeg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/company/logo.png" alt="...">
            <h5 class="title">Evolucion Digital</h5>
          </a>
          <p class="description">
            @EvolucionDigital
          </p>
        </div>
        <p class="description text-center">
          " mejoramos para usted
          <br>  danos la oportunidad
          <br>  de seguir Aquí "
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">

            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>45
                <br>
                <small>Ventas</small>
              </h5>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Informacion de compra</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Nombre completo (Compredor)</label>
                <input type="text" class="form-control"  placeholder="Miguel Antonio V">
              </div>
            </div>

            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Telefono</label>
                <input type="text" class="form-control" placeholder="345 633 17 59 " >
              </div>
            </div>

            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Correo electronico</label>
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Nombre producto</label>
                <input type="text" class="form-control" disabled placeholder="Company" value="Zapatos negros">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Costo (colombia)</label>
                <input type="text" class="form-control" disabled value="$ 235.566.00">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Codigo</label>
                <input type="text" class="form-control" disabled  value="HT&5935345JJIL-JJYINUU">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Ciudad</label>
                <input type="text" class="form-control" placeholder="City" value="Antioquia">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Departamento</label>
                <input type="text" class="form-control" placeholder="Country" value="Envigado">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>algo que nos quieras contar</label>
                <textarea class="form-control textarea" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Procesar Compra</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
