

<form action="" method="post">
  <div class="imgcontainer">
    <img src="https://i.pinimg.com/originals/64/3e/fe/643efe51394d635cbf544a25088ee269.png" alt="Avatar" class="avatar">
  </div>

  <div class="container" class="tex center">
    <label for="uname"><b>Username</b></label>
    <br>
    <input type="text" [(ngModel)]="fakeLogin.name"  placeholder="Enter Username" name="uname" required>
    <br>
    <label for="psw"><b>Password</b></label>
    <br>
    <input type="password" [(ngModel)]="fakeLogin.password" placeholder="Enter Password" name="psw" required>
    <br>
    <button (click)="onLogin()">Login</button>
    <br>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" (click)="onCancelCloseView()" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
