
  <div class="example-form container">
    <div class="imgcontainer">
      <img src="https://www.seattleu.edu/susi/Anonymous-Avatar.png" alt="Avatar" class="avatar">
    </div>

    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <input matInput [(ngModel)]="fakeLogin.name">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput [(ngModel)]="fakeLogin.password">
    </mat-form-field>
    <div class="">
      <button mat-raised-button class="btn-onIngresar" (click)="onLogin()">Ingresar</button>
  </div>
    <hr>
    <section>
        <div class="">
          <button mat-raised-button color="warn" class="btn-onCancel" (click)="onCancelCloseView()" >Cancelar</button>
          <span class="psw">Restablecer <a href="#">Contraseña?</a></span>
      </div>
    </section>
  </div>
