<div class="title">
  {{productss}}
</div>

<div class="row" >
  <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of items" >
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-6">
              <img src={{item.image}} alt="">
          </div>
          <div class="col-10 col-md-10">
            <div class="numbers">
              <p class="card-category">{{item.name}}</p>
            </div>
            <p>{{item.price | currency}}<p>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <i class="fa fa-money"  aria-hidden="true"></i>testing
        <hr>
        <div (click)="findByIdAndBuy(item)" class="stats btn btn-primary">
          <i class="fa fa-money"  aria-hidden="true"></i>Comprar
        </div>
      </div>
    </div>
  </div>

</div>
