<div *ngIf="alertActive" class="alert alert-success"   role="alert">
  Producto guardado con exito...
</div>
<div class="rows">
  <form class="example-form container" [formGroup]="formControlProduct">
    <img src="assets/company/default_Image.png" class="card-img-top" alt="...">

    <mat-form-field class="example-full-width">
      <mat-label>Nombre Producto</mat-label>
      <input matInput placeholder="Nombre Producto" autocomplete="off" formControlName="inputProductName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Precio</mat-label>
      <input matInput placeholder="Precio" autocomplete="off" formControlName="inputProductPrice">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Imagen</mat-label>
      <input type="url" matInput placeholder="Imagen" autocomplete="off" formControlName="inputProductImage">
    </mat-form-field>

    <h4>Categoria</h4>
    <mat-form-field appearance="fill">
      <mat-label>Categoria</mat-label>
      <select  matNativeControl required formControlName="inputProductCategory">
        <option selected></option>
        <option value="Electronica">Electronica</option>
        <option value="RC Hobbys">RC Hobbys</option>
        <option value="Sevicios">Sevicios</option>
      </select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea formControlName="inputProductDescription" rows="12" matInput placeholder="..."></textarea>
    </mat-form-field>

    <div class="example-button-container">
      <button
        mat-fab
        disabled aria-label=""
        [disabled]="!formControlProduct.valid && !formControlProduct.valid"
        >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </form>

</div>
