<div class="container">
  <div  class="alert alert-warning  alert-with-icon alert-dismissible fade show" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span data-notify="icon" class="nc-icon nc-bell-55"></span>
    <span data-notify="message">En este momento no encontramos en mantenimiento, le pedimos
                                disculpas por el inconveniente ocasionado. Lo resolveremoss lo mas rapido posible.
                                Muchas gracias por su comprencion</span>
  </div>
</div>
