<app-login></app-login>
<!--div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row" >
          <div class="col-12 col-md-12" >
            <h2>SODACI</h2>
            <div class="icon-big text-center icon-warning">
              <div class="logo-image-small">
                <img style="border:0" src="assets/company/home.jpg" class="img-thumbnail">
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-8 col-md-8">
            <p>
              Somos una empresa de servicios con variedad de productos como desarrollo de software,
              mantenimiento de equipos de cómputo y móviles, adecuación de espacios virtuales, consecución y
              distribución de accesorios electrónicos, vestuario, fabricación y distribución de productos artesanales
            </p>
          </div>
          <div class="col-4 col-md-4">
            <div class="numbers">
              <p class="card-category">Servicios y productos</p>
              <p class="card-title">
                <i class="nc-icon nc-globe text-warning"></i>
              <p>
              </div>
            </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-comment-o "></i> Llamanos
        </div>
      </div>
    </div>
  </div>
</div-->
